<nav class="bg-indigo-400">
 <div class="flex items-center justify-center">
    <div class="flex flex-1 h-16 justify-between">
        
        <div class="flex flex-shrink-0 items-center">
            <h1 class="text-white px-5 py-4 text-2xl font-medium">Ablog</h1>
        </div>
        <div class="flex items-center">
            <div class="flex space-x-4">
                <a href="#" class="px-3 text-white text-sm hover:text-indigo-500 font-medium">Library</a>
                <a href="#" class="px-3 text-white text-sm hover:text-indigo-500 font-medium">Setting</a>
            </div> 
        </div>
        <div class="flex items-center grow h-16 justify-end px-3">        
            <a href="#" class="px-3 text-white text-sm hover:text-indigo-500 font-medium">Anya</a>
            <div class="bg-cover bg-center rounded-full h-8 w-8" style="background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1856057400283516643/F6E35AAF1B0D07F0D6D776149BC24E267A435D1A/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true)"></div>
        </div>
    </div>
  </div>
</nev>