{% extends 'ablog/layout.html' %} 
{% block title %}Blog Post{% endblock %}

{% block content %}
<style>
    .textarea-fileinput, .textarea-fileinput::file-selector-button {
        width: 15em;
        background-color: #6366f1;
        color: #fff;
        height: 2.5rem;
        border-radius: 0.375rem;
        border: none;
    }
    .img-fileinput, .img-fileinput::file-selector-button {
        width: 15em;
        background-color: #6366f1;
        color: #fff;
        height: 2.5rem;
        border-radius: 0.375rem;
        border: none;
    }
</style>
<div class="flex">
    <div class="flex-1">

        <div class="pl-10 pt-10 pb-5 m-auto text-left text-indigo-500 px-5 py-4 text-3xl font-medium"><p>Blog Post</p></div>
        <div class="pl-5 m-auto text-left text-indigo-500 text-2xl font-medium"><p>Title</p></div>
            <div class="bg-light p-3 rounded mx-md-5 ">
                <input type="text" class="w-96 h-8 border-solid border-2 border-indigo-200 rounded-md">
            </div>
        <div class="pl-5 m-auto text-left text-indigo-500 text-2xl font-medium"><p>Content</p></div>
        
        <div data-field-wrapper="some_text_area">
            <form class=" bg-light p-3 rounded mx-md-5 ">
                <textarea class="w-96 h-60 overflow-auto form-control mb-2 border-solid border-2 border-indigo-200 rounded-md"></textarea>
            </form>   
        </div>

    </div>
    <div class=" flex-col p-10 m-auto">
        <div class="m-5"><input type="file" class="form-control textarea-fileinput rounded-md"></div>
        <div class="m-5"><input type="file" class="form-control img-fileinput" accept="image/*"></div>
        <div class="m-5 text-center bg-indigo-500 text-white rounded-md h-10 "><button class="p-2" type="button" onclick="post_blog()">Post</button></div>
        <div class="m-5 text-center bg-indigo-100 text-indigo-500 rounded-md h-10  rounded-md h-10 "><button class="p-2" type="button" onclick="window.location.replace('/')">Cancel</button></div>
    </div>
</div>



<script>

 function post_blog(){
    var post_con = document.getElementById('')
 }

 function cancel(){

 }

class ImportTextFieldPanel {
    constructor(id) {
        this.wrapper = document.querySelector(`[data-field-wrapper="${id}"]`);
        this.fileInput = this.wrapper.querySelector('input');
        this.textArea = this.wrapper.querySelector('textarea');

        this.textInitialHeight = this.textArea.style.height;
        if (this.textArea.style.maxHeight === '') {
            this.textArea.style.maxHeight = '30em';
        }
        this.textArea.style.overflowY = 'auto';

        this.fileInput.addEventListener('change', this.handleFileInputChange.bind(this));
        
        this.textArea.parentElement.addEventListener('dragover', this.handleDragOver.bind(this));
        this.textArea.parentElement.addEventListener('drop', this.handleDrop.bind(this));
    }

    readFile(source, target) {
        const reader = new FileReader();
        reader.addEventListener('load', (event) => {
            target.value = event.target.result;
            target.style.height = this.textInitialHeight;
            target.style.height = target.scrollHeight 
                + parseFloat(getComputedStyle(target).paddingTop) 
                + parseFloat(getComputedStyle(target).paddingBottom) + 'px';
        });
        reader.readAsText(source);
    }

    handleFileInputChange(event) {
        event.preventDefault();
        const input = this.fileInput.files[0];
        this.readFile(input, this.textArea);
        this.fileInput.value = '';
        this.fileInput.blur();
    }

    handleDragOver(event) {
        event.stopPropagation();
        event.preventDefault();
        event.dataTransfer.dropEffect = 'copy';
    }

    handleDrop(event) {
        event.stopPropagation();
        event.preventDefault();
        const input = event.dataTransfer.files[0];
        this.readFile(input, this.textArea);
    }
}
</script>
<script>
    new ImportTextFieldPanel("some_text_area");

</script>




{% endblock %}