{% extends 'ablog/layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="flex">
        <div class="flex-1">
            <div class="p-10">
                <h1 class="text-2xl font-bold text-black">Library</h1>
                <div class="grid grid-cols-2 gap-4 mt-4">
                    {% for blog in libd %}
                        <a href="{% url 'blogDetail' blog.id %}" class="relative overflow-hidden rounded-lg h-72">
                            <div class="bg-cover bg-center h-full rounded-t-lg" style="background-image: url({{ blog.picUrl }})"></div>
                            <div class="absolute bottom-0 left-0 right-0 p-4 bg-white text-black text-sm rounded-b-lg">{{ blog.title }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="w-1 border-r border-indigo-400"></div>
        <div class="flex-2">
            <div class="p-10">
                <div class="text-2xl font-bold text-black">Post Your Blog</div>
                <a href="blogpost" class="block mt-4 px-10 py-3 bg-indigo-400 text-white font-bold rounded-lg text-center">Post Your Blog</a>
                <div class="text-2xl font-bold text-black mt-8">Recently</div>
                <div class="grid grid-cols-1 gap-4 mt-4">
                    {% for blog in recd %}
                        <a href="{% url 'blogDetail' blog.id %}" class="relative overflow-hidden rounded-lg">
                            <div class="bg-cover bg-center h-60 rounded-lg" style="background-image: url({{ blog.picUrl }})"></div>
                            <div class="absolute bottom-0 left-0 right-0 p-4 bg-white text-black text-sm rounded-b-lg">{{ blog.title }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
